*{
    margin: 0;
    padding: 0;
}

/* Personalizaciones */

.bg-personal {
    background-color: rgb(184, 134, 204);
}

.bgc-texto {
    color: rgb(184, 134, 204);
}

.letra-personal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(59, 59, 59);
}

.btn-primary {
    margin-top: 20px;
    background-color: gray;
    border-color: gray;
    transition: all 0.2s ease-out;
}

.btn-primary:hover {
    background-color: rgb(180, 179, 179);
    border-color: rgb(175, 164, 164);
    transform: scale(0.8);
}


/* Nav */

.navbar-brand img {
    width: 120px;
}

.navbar-brand {
    padding: 0 1em;
    margin-right: 0;
}

.navbar-nav {
    align-items: center;
}
.navbar .navbar-nav  {
    color: rgb(78, 78, 78);
    font-size: 1.1em;
    padding: 0 1em;s
}

.nav-link:hover {
    color: white;
}

.nav-animaciones {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/* Footer */

.footer-personal {
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.bi-whatsapp {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.bi-whatsapp:hover {
    color: #4BCA5A;
}

.bi-twitter {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.bi-twitter:hover {
    color: #1A8CD8;
}

.bi-instagram {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.bi-instagram:hover {
    color: #AE1179;
}

.bi-facebook {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.bi-facebook:hover {
    color: #1877F2;
}

footer p {
    background-color: rgb(95, 95, 95);
    text-align: center;
    padding: 5px;
    margin-bottom: 0%;
    color: white;
}

/* Inicio */

/* Quienes Somos */

.nosotros-personal {
    color: rgb(127, 125, 128);
    padding: 25px;
    margin-bottom: 0%;
}

/* Servicios */
/* Contacto  */
/* Ubicacion */

